

  <div class="row justify-content-center">
    <div class="col-10 d-flex justify-content-between">
      <h3>Reviews</h3>
      <h3>Ratings</h3>
    </div>
    <% @reviews.each do |review| %>
    <div class="col-10 border p-3 my-2 d-flex justify-content-between">
      <p> <%=review.content %></p>
      <span><%= '🎵' * review.rating  %></span>
    </div>
    <% end %>
  </div>
