<%= simple_form_for [@offering, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <div id="button-form"> <%= f.submit "Get Estimate", class: "btn btn-primary" %> </div>
<% end %>
