.card-trip-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card-trip {
  overflow: hidden;
  background: $white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 8px;
}

.card-trip>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: $white;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(8px);
    border: 0.5px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 8px 16px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .show-main {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .cards-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;

  }

  .show-main {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .card-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(8px);
    border: 0.5px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    margin: 20px 35.5px;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;

  }

  .show-main {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .card-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(8px);
    border: 0.5px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 20px 35.5px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .show-main {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

}

.card-show-page {
  margin: 16px;
  padding: 16px;
}

.card-show-page-booking {
  display: flex;
  align-items: flex-start;
  margin: 16px;
  padding: 16px;
  flex-wrap: wrap;
}

#booking-title {
  text-align: center;
  font-size: 32px;
  height: 32px;
}

#bookit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}

.button-form {
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  margin: 0;
  padding: 0;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.redd.it/p8tohyn245b61.png');
  background-color: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* Ensure the background covers the entire viewport height */
}
