<div class="container">
  <%= simple_form_for [@review, @booking] do |f| %>
    <%= f.input :content, placeholder: 'write your review' %>
    <%= f.input :rating, collection: [1, 2, 3, 4, 5], selected: 5 %>
    <%= f.submit class: 'btn btn-primary'%>

  <% end %>
</div>
